@font-face {
  src: url(/fonts/Omnes.ttf);
  font-family: Omnes;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  color: #35bdd1;
}
.wrapper {
  font-family: Omnes, Arial, sans-serif;
  overflow: hidden;
}
section {
  max-width: 1920px;
  margin: 0 auto;
}

.header-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0 auto 0 auto;
  padding: 0 40px;
  width: 100%;
  background-color: #0b0f4d;
  z-index: 2;
  @media (min-width: 1024px) {
    padding: 0 19px;
  }
  padding: 0 19px;
  svg {
    padding: 0 10px;
    cursor: pointer;
  }
}

.header-content-left {
  display: flex;
  height: 100%;
  align-items: center;
}

a.logo-container {
  width: 115px;
  height: 50px;
}
.header-content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.right-nav-item {
  display: none;
  @media (min-width: 1024px) {
    border-right: 1px solid hsla(0, 0%, 100%, 0.3);
    border-left: 1px solid hsla(0, 0%, 100%, 0.3);
    height: 100%;
    width: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    a {
      color: #fff;
    }
  }
}
.search {
  @media (min-width: 1024px) {
    margin-left: 21px;
    margin-right: 8px;
  }
}
.search-box {
  display: none;
  padding-left: 20px;
  @media (min-width: 768px) {
    padding-left: 202px;
  }
  input {
    width: 120px;
    border-radius: 0;
    padding-left: 30px;
    -webkit-appearance: none;
    background: #0b0f4d;
    border: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
    @media (min-width: 768px) {
      width: 200px;
    }
    @media (min-width: 1024px) {
      width: 400px;
    }
  }
}
.nav_desktop {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    padding: 0 30px;
    align-items: center;
    color: #fff;
  }
}
.nav_desktop.hide_mobile {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
  }
}
.label {
  list-style-type: none;
  font-size: 14px;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}
.label-name {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.hamburger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 1024px) {
    display: none;
  }
  .hamburger-content {
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 10px;
    display: grid;
    float: right;
    .line {
      height: 2px;
      width: 100%;
      background-color: #fff;
      &:last-child {
        width: 60%;
      }
    }
  }
  // menu burger

  .menuToggle {
    display: block;
    position: relative;
    /*     top: 50px;
    left: 50px;
 */
    z-index: 2;

    -webkit-user-select: none;
    user-select: none;
  }

  .menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  .menuToggle a:hover {
    color: tomato;
  }

  .menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
 * Just a quick hamburger
 */
  .menuToggle span {
    display: block;
    width: 31px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;

    background: #fff;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 8px -2px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
    width: 60%;
  }

  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #fff;
    &:nth-last-child(2) {
      width: 100%;
    }
  }

  /*
 * But let's hide the middle one.
 */
  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
 * Ohyeah and the last one should go the other direction
 */
  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
  .menu {
    /*     width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px; */

    position: fixed;
    height: 100vh;
    width: 90vw;
    padding: 37px 0 0 41px;
    background: #001252;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    top: 0;
    right: -44px;

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 43vw;
      top: 0px;
    }
  }

  .menu li {
    padding: 15px 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }
  .menu {
    .bolder {
      font-weight: bolder;
      font-size: 15px;
    }
  }
  /*
 * And let's slide it in from the left
 */
  .menuToggle input:checked ~ ul {
    transform: none;
  }
}
main {
  position: relative;
  @media (min-width: 768px) {
    padding: 36px;
  }
}
.main-bg {
  background-color: #f5f5f5;
  height: 38%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media (min-width: 1024px) {
    height: 41%;
  }
}
.section-top-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 80px;
  @media (min-width: 768px) {
    margin-top: 81px;
    picture {
      width: 100%;
    }
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
}
.section-top-content {
  bottom: 41px;
  left: 0;
  width: 100%;
  top: auto;
  position: absolute;
  z-index: 1;
  padding: 0 24px;
  @media (min-width: 768px) {
    left: 100px;
    max-width: 460px;
  }
  @media (min-width: 1024px) {
    top: 44%;
  }
  .detail {
    color: #fefefe;
    @media (min-width: 1024px) {
      font-size: 18px;
    }
  }
}

.heading {
  font-size: 40px;
  line-height: 52px;
  color: #fefefe;
  letter-spacing: 0.05em;
  @media (min-width: 768px) {
    .hide_br {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    font-size: 48px;
  }

  span {
    font-style: italic;
    font-weight: bold;
  }
}
.detail {
  margin-top: 24px;
  font-size: 18px;
  line-height: 30px;
}
.search-container {
  margin-top: 30px;
  width: 327px;
  background-color: #fff;
  border-radius: 50px;
  height: 55px;
  position: relative;
}
.search-input {
  position: absolute;
  top: 16px;
  left: 20px;
  height: 26px;
  color: #424b56;
  border: none;
  font-family: Omnes;
  font-weight: 500;
  font-size: 13px;
  width: 200px;
}
.form-arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  border-radius: 100px;
  background-color: #29b5d0;
  top: 8px;
  cursor: pointer;
}
.union {
  width: 8px;
  position: absolute;
  right: 25px;
  top: 22px;
  cursor: pointer;
}
.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-180deg);
  top: 0;
  opacity: 0.6;
  background: linear-gradient(
    90deg,
    transparent 5.26%,
    rgba(0, 0, 0, 0.8) 71.78%,
    rgba(0, 0, 0, 0.9)
  );
  @media (min-width: 768px) {
    border-radius: 10px;
  }
}

.section-middle {
  margin: 60px 0 0 0;
  padding: 0 20px 30px 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;

  @media (min-width: 768px) {
    margin: 60px 0 0 0;
    padding: 60px 100px 80px 100px;
  }
  @media (min-width: 1024px) {
    margin: 0 auto;
    padding: 60px 100px 12px 100px;
  }

  .section-middle-header {
    font-size: 20px;
    font-weight: 600;
    color: #0a124a;
    letter-spacing: 0.02em;
    line-height: 34px;
    margin-bottom: 34px;
    @media (min-width: 768px) {
      font-size: 24px;
      margin-left: 60px;
    }
    @media (min-width: 1024px) {
      font-size: 32px;
      margin: 0 0 52px;
      line-height: 36px;
    }
  }
  img {
    border-radius: 4px;
  }
}
.middler-row {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}
a.header-text {
  line-height: 17px;
  line-height: 25px;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  color: #0a124a;
}

.flex-column {
  width: 100%;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    width: 30%;
    &:nth-child(2) {
      margin: 0 40px;
    }
  }
  @media (min-width: 1080px) {
    width: 30%;
    margin-bottom: 10px;
    &:nth-child(2) {
      margin: 30px 40px 0;
    }
  }
}

.middler-row:last-child {
  @media (min-width: 1080px) {
    .flex-column {
      margin: auto 0px;
      &:nth-child(2) {
        margin: 0 40px;
      }
    }
  }
}

.arrow {
  width: 9px;
  height: 9px;
}

.detail-content {
  margin-bottom: 55px;
  margin-top: 24px;
  margin-left: 15px;
}
.detail-text {
  padding-top: 12px;
  font-size: 16px;
  line-height: 24px;
}
.app-column {
  .detail-text {
    margin: 20px 0;
    padding-top: 0;
  }
  @media (min-width: 768px) {
    width: 25%;
    font-size: 16px;
    margin-top: 20px;
  }

  @media (min-width: 1024px) {
    width: 29%;
    margin-top: 80px;
  }
}
.no-img-header {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.02em;
  font-family: Omnes;
  font-weight: 600;
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 24px;
  }
  @media (min-width: 1080px) {
    font-size: 32px;
    margin-bottom: 0;
    line-height: 36px;
  }
}
.app-platform {
  a:last-child {
    margin-left: 10px;
  }
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;

    a:last-child {
      margin-left: 0;
    }
  }
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row;

    a:last-child {
      margin-left: 10px;
    }
  }
}
.icon-container > .app-platform {
  display: initial;
}
.section-bottom {
  position: relative;
}

.flex-row {
  display: flex;
  width: 100%;
  height: 100%;
}
.flex-row .flex-row-phone {
  margin: 20px;
  picture {
    width: 100%;
  }
  img {
    border-radius: 4px;
    width: 100%;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    img {
      border-radius: 10px;
    }
  }
}
.bottom-row-phone {
  margin: 0 20px 50px 20px;
  display: flex;
  flex-direction: column;
  .heading {
    color: #0a124a;
    margin-top: 10px;
  }
  .detail {
    color: #0a124a;
    line-height: 24px;
    letter-spacing: 0.05em;
  }
  @media (min-width: 768px) {
    position: absolute;
    top: 50px;
    left: 100px;
    margin: 0;

    width: 468px;
    .header-text,
    .heading,
    .detail {
      color: #fff;
    }
    .header-text {
      .arrow path {
        fill: #fff !important;
      }
    }
    .heading {
      font-size: 48px;
    }
  }
  @media (min-width: 1080px) {
    top: 100px;
  }
}

footer {
  color: #fff;
  a {
    color: #fff;
  }
}
.footer-wrapper {
  padding: 32px;
  background-color: #011352;
  @media (min-width: 768px) {
    padding: 65px 32px 38px 32px;
  }
  @media (min-width: 1024px) {
    padding: 60px 180px 0;
  }
}
.footer-content-up {
  @media (min-width: 768px) {
    display: flex;
    margin-bottom: 50px;
  }
  @media (min-width: 1024px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.footer-logo {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-right: 80px;
    margin-bottom: 0;
  }
}
.footer-logo-wrapper {
  width: 134px;
  height: 57px;
}
.footer-links {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.footer-nav {
  color: #fff;
  margin: 0 16px 32px 0;
  @media (min-width: 768px) {
    padding: 0 16px;
  }
  ul {
    white-space: nowrap;
    padding: 0;
    li {
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      line-height: 23px;
      font-weight: 300;
      list-style-type: none;
      color: #fff;
      @media (min-width: 768px) and (max-width: 1024px) {
        width: 180px;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
      &:first-child {
        font-weight: 600;
      }
    }
  }
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  margin-top: 20px;
  a {
    @media (min-width: 768px) and (max-width: 1024px) {
      width: 28px;
      display: inline-block;
      background-size: contain;
    }
  }
}

.bottom-flex {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
  flex-wrap: wrap;
  @media (min-width: 768px) and (max-width: 1024px) {
    padding-bottom: 0;
  }
  @media (min-width: 1024px) {
    margin: 94px 0 0 0;
    padding-bottom: 53px;
  }
}
.bottom-links {
  padding: 9px;
  cursor: pointer;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  list-style-type: none;
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 20px;
  }
  &:first-child {
    font-weight: bold;
  }
  strong {
    font-weight: bold;
  }
}
