@font-face {
  src: url(/fonts/Omnes.ttf);
  font-family: Omnes;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.wrapper {
  font-family: Omnes, Arial, sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin: 0 auto 0 auto;
  padding: 0 40px;
  width: 100%;
  background-color: #0b0f4d;
  svg {
    padding: 0 10px;
    cursor: pointer;
  }
}

.header-content-left {
  display: flex;
  height: 100%;
  align-items: center;
}

a.logo-container {
  width: 115px;
  height: 50px;
}
.header-content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hamburger-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .hamburger-content {
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 13px 10px;
    display: grid;
    float: right;
    .line {
      height: 2px;
      width: 100%;
      background-color: #fff;
      &:last-child {
        width: 60%;
      }
    }
  }
}
main {
  position: relative;
}
.main-bg {
  background-color: #f5f5f5;
  height: 25%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.section-top-wrapper {
  display: flex;
  position: relative;
  width: 100%;
}
.section-top-content {
  bottom: 41px;
  left: 0;
  width: 100%;
  top: auto;
  position: absolute;
  z-index: 1;
  padding: 0 24px;
  .detail {
    color: #fefefe;
  }
}

.heading {
  font-size: 40px;
  line-height: 52px;
  color: #fefefe;
  letter-spacing: 0.05em;
  span {
    font-style: italic;
    font-weight: bold;
  }
}
.detail {
  margin-top: 24px;
  font-size: 18px;
  line-height: 30px;
}
.search-container {
  margin-top: 30px;
  width: 327px;
  background-color: #fff;
  border-radius: 50px;
  height: 55px;
  position: relative;
}
.search-input {
  position: absolute;
  top: 16px;
  left: 20px;
  height: 26px;
  color: #424b56;
  border: none;
  font-family: Omnes;
  font-weight: 500;
  font-size: 13px;
  width: 200px;
}
.form-arrow {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  border-radius: 100px;
  background-color: #29b5d0;
  top: 8px;
  cursor: pointer;
}
.union {
  width: 8px;
  position: absolute;
  right: 25px;
  top: 22px;
  cursor: pointer;
}
.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-180deg);
  top: 0;
  opacity: 0.6;
  background: linear-gradient(
    90deg,
    transparent 5.26%,
    rgba(0, 0, 0, 0.8) 71.78%,
    rgba(0, 0, 0, 0.9)
  );
}

.section-middle {
  margin: 60px 0 0 0;
  padding: 0 20px 30px 20px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  .section-middle-header {
    font-size: 20px;
    font-weight: 600;
    color: #0a124a;
    letter-spacing: 0.02em;
    line-height: 34px;
    margin-bottom: 34px;
  }
  img {
    border-radius: 4px;
  }
}
a.header-text {
  line-height: 17px;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  color: #0a124a;
}

.flex-column {
  width: 100%;
  margin: 0 0 42px 0 !important;
}

.arrow {
  width: 9px;
  height: 9px;
}

.detail-content {
  margin-bottom: 55px;
  margin-top: 24px;
  margin-left: 15px;
}
.detail-text {
  padding-top: 12px;
  font-size: 16px;
  line-height: 24px;
}
.app-column {
  .detail-text {
    margin: 20px 0;
    padding-top: 0;
  }
}
.no-img-header {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.02em;
  font-family: Omnes;
  font-weight: 600;
}

.flex-row {
  display: flex;
  width: 100%;
  height: 100%;
}
.flex-row .flex-row-phone {
  margin: 20px;
}
.bottom-row-phone {
  margin: 0 20px 50px 20px;
  display: flex;
  flex-direction: column;
}

.bottom-row-phone > .heading {
  color: #0a124a;
  margin-top: 10px;
}

.bottom-row-phone > .detail {
  color: #0a124a;
  line-height: 24px;
  letter-spacing: 0.05em;
}
footer {
  color: #fff;
  a {
    color: #fff;
  }
}
.footer-wrapper {
  padding: 32px;
  background-color: #011352;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo-wrapper {
  width: 134px;
  height: 57px;
}
.footer-links {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-nav {
  color: #fff;
  margin: 0 16px 32px 0;
  ul {
    white-space: nowrap;
    padding: 0;
    li {
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      line-height: 23px;
      font-weight: 300;
      list-style-type: none;
      color: #fff;
      a {
        color: #fff;
        text-decoration: none;
      }
      &:first-child {
        font-weight: 600;
      }
    }
  }
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  margin-top: 20px;
}

.bottom-flex {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  margin: 30px 0 0 0;
  padding: 0 0 80px;
  flex-wrap: wrap;
}
.bottom-links {
  padding: 9px;
  cursor: pointer;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
  list-style-type: none;
  &:first-child {
    font-weight: bold;
  }
  strong {
    font-weight: bold;
  }
}
